[Unit]
Description=kyco.bitcoin.currency.tickers

[Service]
PIDFile=/tmp/kyco.bitcoin.currency.tickers.pid
User=user
Group=user
Restart=on-failure
ExecStart=/bin/bash -c '/usr/bin/kyco.bitcoin.currency.tickers'

[Install]
WantedBy=multi-user.target
