# Ignore all
*

# Unignore all with extensions
!*.*

# Ignore Binary
kyco.bitcoin.currency.tickers

# Unignore all dirs
!*/

# Ignore all log files
*.log

# Ignore unused files
ui-*

# Ignore vendors folder
vendor/